<div *ngFor="let task of tasks">
    <div class="task-row">
        <a
        style="cursor: pointer;"
        [routerLink]="[task.id]"
        routerLinkActive="active"
        >
            <p> {{ task.title }}</p>
        </a>  
        <p> {{ task.dueDate | date }}</p>
        <p> {{ task.priority }}</p>
        <p> {{ task.status }}</p>
        <p> <span (click)="navigateToEditTaskRoute(task.id)" style="cursor: pointer;">Edit</span>
            <span (click)="navigateToDeleteAlertRoute(task.id)" style="cursor: pointer;">Delete</span>
        </p>
    </div>

</div>
