<div class="formBox">
<div>
    <div>
        <p>Add a New Task</p>
    </div>
    <form [formGroup]="taskForm" class="task-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="task-main-info">
            <label for="title">Title: </label>
            <input type="text"
                id="title"
                formControlName="title"
            >
    
            <label for="description">Description: </label>
            <input type="text" id="description" formControlName="description">
        </div>

        <div class="task-detail-info">
            <label for="dueDate">Due Date: </label>
            <input type="date" id="dueDate" formControlName="dueDate">
        
            <label for="priority">Priority: </label>
            <!-- <input type="text" id="priority" formControlName="priority"> -->
            <select id="priority" formControlName="priority">
                <option *ngFor="let choice of priorityChoices" [ngValue]="choice">{{ choice }}</option>
            </select>
        
            <label for="status">Status: </label>
            <select id="status" formControlName="status">
                <option *ngFor="let choice of statusChoices" [ngValue]="choice">{{ choice }}</option>
            </select>
        
            <!-- <label for="actions">Actions: </label>
            <input type="text" id="actions" formControlName="actions"> -->
            <div>
                <button type="button" (click)="onClose()">Cancel</button>
                <button type="submit" [disabled]="!taskForm.valid">
                    {{ isEditingTask ? 'Update' : 'Create'}}
                </button>
            </div>
        </div>
    </form>
    <div class="formCloseButton">
        <button (click)="onClose()">X</button>
    </div>
</div>
</div>

<div (click)="onClose()" class="backdrop"></div>

<!-- <div>
    <p>new task to be added</p>
    <p>{{ name.value }}</p>
</div> -->



