.taskDetailsBox {
    position: absolute;
    top: 200px;
    left: 15vw;
    height: 50vh;
    width: 70vw;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 9px;
    z-index: 1;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5
}