<div class="main-section-container">
    <p id="main-title">Task List</p>
    <div class="sub-section">
        <div class="functionality-header">
            <div class="filter-container">
                <p>Filters:</p>
                <select id="status" name="status">
                  <option value="status">Status</option>
                </select>
                <select id="date" name="date">
                    <option value="date">Date</option>
                </select>
                <select id="priority" name="priority">
                    <option value="priority">Priority</option>
                  </select>
            </div>
            <button class="button" id="add-button">Add New Task</button>
        </div>
    
        <div class="task-list">
                <ul class="table-headings">
                    <li>Title</li>
                    <li>Due Date</li>
                    <li>Priority</li>
                    <li>Status</li>
                    <li>Actions</li>
                </ul>
            <app-task-list></app-task-list>
        </div>
    </div>
    <app-add-task-form *ngIf="onAddFormClicked"></app-add-task-form>

</div>
