.main-section-container {
    width: 1028px;
}

#main-title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    color: #000;
    /* position: absolute;
    left: 296px;
    top: 76px; */
}

.sub-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: absolute;
    left: 316px;
    top: 130px; */
}

.functionality-header {
    display: flex;
}

.filter-container {
    display: flex;
}

.button {
    /* width: 198px;
    height: 44px; */
    background-color: #48C15B;
    border: none;
    border-radius: 13px;
    width: 200px;
    height: 48px;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

select {
    width: 104px;
    height: 26px;
}

.table-headings {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.table-headings > li {
    list-style-type: none;
}

