/* * {
    margin: 0px;
    padding: 0px;
} */

.sidebar-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #D2D2D2;
}

#logo {
    font-size: 28px;
    font-weight: 700;
    margin-top: 49px;
    margin-left: 21px;
}

#logo-task {
    color: #48C15B;
}

#logo-it {
    color: #000;
}

.button {
    background-color: #48C15B;
    border: none;
    border-radius: 12px;
    /* width: 200px;
    height: 48px; */
    width: 100px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#list-button {
    position: absolute;
    top: 125px;
    left: 22px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #DDD;
}

#profile-image {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.user-text-details {
    margin-left: 10px;
}

#user-name {
    font-size: 14px;
    text-align: left;
}

#user-email {
    font-size: 12px;
    text-align: left;
}

@media only screen and (min-width: 1500px) {
    .user-info {
        flex-direction: row;
        position: relative;
    }

    #logout-icon {
        position: absolute;
        right: 0;
    }
  }