<div class="sidebar-container">
    <div>
        <p id="logo"><span id="logo-task">TASK</span><span id="logo-it">IT</span></p>
        <button class="button" id="list-button">Task List</button>
    </div>

    <div class="user-info">
        <img src="https://source.unsplash.com/rDEOVtE7vOs" id="profile-image" alt="profile image">
        <div class="user-text-details">
            <p id="user-name">{{ user.name }}</p>
            <p id="user-email">{{ user.email }}</p>
        </div>
        <div id="logout-icon">icon</div>
    </div>
</div>

