<div class="landing-container">
    <p class="welcome-title">Welcome to <span id="title-task">TASK</span>IT!</p>
    <p class="tag-line">This platform allows you to keep track of tasks professionally, domestically, and more. Sign up today to get to work!</p>
    <img src="../../assets/images/landing-page-img 1.png" alt="app-layout">
    <p class="action-call">Create an account to get started today.</p>
    <div class="button-container">
        <!-- TODO -->
        <!-- add routerLink to each button to go to the signup component view or login component view -->
        <button class="signup-button">Sign Up</button>
        <p>or</p>
        <button class="login-button">Login</button>
    </div>
</div>

